<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sergi.entrenadorplanificaelpartido" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.sergi.entrenadorplanificaelpartido.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sergi.entrenadorplanificaelpartido.EditarCambios"
            android:label="@string/title_activity_editar_cambios" >
        </activity>
        <activity
            android:name="com.example.sergi.entrenadorplanificaelpartido.Partido"
            android:label="@string/title_activity_partido" >
        </activity>
    </application>

</manifest>
